<%- include('../ejslayouts/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('../ejslayouts/navgaation.ejs') %>
            <main class="centred">
                <h1><%=prods.title%></h1>
                <hr>
                <img src="<%=prods.imageUrl%>" alt="">
                <h2><%=prods.description%></h2>
                <form action="/card" method="post">
                    <button class="btn" type="submit">Add to card</button>
                </form>
            </main>
            <%- include('../ejslayouts/end.ejs') %>